* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1260px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    max-width: 90%;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 35px;
    justify-content: space-between;
    background-color: white;
    justify-content: center;
    flex-direction: column;
    border-radius:8px;
    padding-bottom: 50px;   
}

html {
    box-sizing: border-box;
    background:#FFFFFF;
    font-family:'helvetica neue';
    font-size: 15px;
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
  color:#161c26;
  }

body.fixed-nav .site-wrap {
  transform: scale(1);
}

header {
  text-align: center;
  height:58vh;
  background:url(/img/tlo.png) bottom center no-repeat;
  background-size:cover;
  display:flex;
  align-items:center;
  justify-content: center;
}

nav {
  background:#161c26;
  top:0;
  width: 100%;
  transition:all 0.2s;
  position: relative;
  z-index: 1;
  font-size:1rem;
}

body.fixed-nav nav {
  position: fixed;
  box-shadow:0 5px 0 rgba(0,0,0,0.1);
}

nav ul {
  margin: 0;
  padding:0;
  list-style: none;
  display:flex;
  align-items: center;
}

nav li {
  flex:1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid black;
    
}
@media screen and (max-width:710px) {
  nav li {
    border-right:0;
    border-bottom: 0.5px solid black;
    width: 70%;
  
    border-radius: 1px;

  }
  li.logo{
    border-bottom: 0;
  }
}


li.logo {
  max-width:0;
  overflow: hidden;
  background: white;
  transition: all 0.5s;
  font-weight: 600;
  font-size: 0.9rem;
  width: 100%;
 
}

li.logo a {
  color:black;
  
}

.fixed-nav li.logo {
  max-width:100%;
  padding-left: 20px;  
}

nav a {
  text-decoration: none;
  padding:15px;
  display: inline-block;
  color:white;
  transition:all 0.2s;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-family: 'Francois One', sans-serif;
}
@media screen and (max-width:800px) {
  nav a {font-size: 1rem;
  padding: 5px;
  }
  li.logo { font-weight: 400;
    font-size: 0.4rem;}
}

nav a:hover{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  text-shadow: 0px 0px 1px #0F5A80;

}

.hamburger{
  visibility: hidden;
}

li .siteLogo{
  display: flex;
}
li .hamburger{
margin-right: 20px;
}
.lista{
 display: none;
 
}

.arrow{
  width: 45px;
  height: 43px;
  border: 2px solid #DDDDDD;
  margin-left: auto; margin-right: auto; 
  border-radius: 50%;      
  font-size: 1rem;
  text-shadow: 0px -12px 0px  #DDDDDD,0px 12px 0  #DDDDDD;
  overflow: hidden;
  opacity: 0.9;
  display: none;
}


@keyframes arrow{
  0%{transform: translateY(-40px)}
  50%{transform: translateY(0)}
  100%{transform: translateY(40px)}
}


.fa-angle-down{
  animation: arrow 1.2s infinite linear;
  line-height: 43px;
}

.iconLinkMedia{
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;  
}
.icon.media:hover{
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
}

section{
  margin-top:1rem;
}
.head{
  font-size: 2rem;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
 .text{
   line-height: 35px;
   font-size: 1.6rem;
   text-align: center;
 }
 .mission{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }
.missionContent{
  max-width: 800px;
  max-width:90%;
}
.icon{
  width: 115px;
  height: 115px;
  margin-top: 10px;
}
.value{
 width: 40%;
 max-width: 80%;
 background-color: white;
 margin: 10px;
 padding: 10px;
 border-radius: 10px;
 box-shadow: 0.7px 0.7px grey;
}
.value:hover{
  border-radius: 12px;
  transition: 0.5s;
 
}

.valueTitle{
   font-size: 1.8rem;
   font-weight: 500;
   margin-top: 15px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.valueText{
  font-size: 1.7rem;
}
.valuesBox{
  display: flex;
  justify-content: space-between;  
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom:15px;
}


.values{
  background-color: #b3d6d3;
 width: 100%;
 display: flex;
 justify-content: center;
 border-radius:5px;
}
.valuesCOntenet{
  max-width: 1300px;
}
.head.valuesTitle{
  color: white;
  text-shadow: 0 0 2px #000; /* horizontal-offset vertical-offset 'blur' colour */
  -moz-text-shadow: 0 0 2px #000;
  -webkit-text-shadow: 0 0 2px #000;
}








@media screen and (max-width:710px) {

  
    header {
      height:45vh;

    }
    .hamburger{
      visibility: visible;
    }
      .navTRESC{
       display: none;
        }
        nav a{
          padding: 13px;
        }
        .column {  
          flex-direction: column;
        }      
        li.logo {
         justify-content: space-between;       
        }
        .visavble{
          display: block;
        }
        .arrow{
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .noVisable{
          display: none;
        }

        .icon{
          width: 100px;
          height: 100px;
        }
        .head{
          font-size: 1.9rem;
        }
        .text{
          font-size: 1.1rem;
          line-height: 28px;
        }
        .value{
          width: 95%;
          max-width: 80%;
          margin: 7px;
         padding: 7px;
         }

         .valueTitle{
          font-size: 1.5rem;
        }
        .valueText{
          font-size: 1.2rem;
        }
         .iconLinkMedia{
          width: 90%;
          margin: 0 auto;
          display: flex;
          align-items: center;
          justify-content: space-around;  
        }
        .icon.media{
          width: 70px;
          height: 70px;
        }




        
}














@media screen and (max-width:350px) {
  body{
    background-color: green;
  }
  .icon{
    width: 80px;
    height: 80px;
  }
  .head{
    font-size: 1.3rem;
  }
  .text{
    font-size: 1rem;
  }
  .Mediatitle{
    font-size: 1.5rem;
  }
}